version: 2.1
jobs:
  compile:
   docker:
      - image: ubuntu:22.04
   steps:
      - run:
          no_output_timeout: 50m
          command: |
            apt update && apt upgrade -y
            apt install bc build-essential bison flex zip gcc clang libc6 curl libstdc++6 git wget libssl-dev zstd openjdk-11-jdk openjdk-11-jre python2 -y
            #git clone https://github.com/hariphoenix1708/android_kernel_xiaomi_sweet -b a11/main --depth=1 sweet
            git clone https://github.com/hariphoenix1708/kernel_xiaomi_sweet.git -b fourteen --depth=1 sweet
            cd sweet
            bash build.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
